[Desktop Entry]
Name=Swifty Notes
Comment=A simple markdown notes application
Exec=SwiftyNotes
Icon=me.spaceinbox.SwiftyNotes
Terminal=false
Type=Application
Categories=Utility;TextEditor;GTK;GNOME;
Keywords=notes;markdown;editor;text;
StartupNotify=true
